html {
	background: #ddd;
}

body {
	margin: 0px;
	color: #222;
	background: #fcfcfc;
	font: 18pt sans-serif;
}

main {
	padding: 20px;
}

nav, footer, header {
	padding: 6px;
	background: #034769;
	color: #fafafa;
/*	border: 2px solid #086fa1;*/
}

nav a {
	padding: 0 10px;
	border-right: 2px solid #086fa1;
}

nav a:link, nav a:visited {
	color: #fafafa;
	text-decoration: none;
}

nav a:hover {
	background: #086fa1;
}

footer {
	text-align: center;
}

h1 {
	font-size: 24pt;
	margin: 0;
	padding-bottom: 10px;
}

table {
	display: block;
	border-collapse: collapse;
	background: #ffffff;
	margin-top: 10px;
	overflow: scroll;
}

thead {
	background: #f1f1f1;
}

td, th {
	font-size: 12pt;
	border-width: 1px;
	border-style: solid;
	border-color: #086fa1;
	padding: 3px;
	margin: 0px;
}
